body {
    font-family: sans-serif;
    min-width:500px;
    overflow-x:hidden;
    font-size: 11px;
}

h1{
    font-size: 13px;
    background: -webkit-linear-gradient(top, #5B5B5B 0%, #858585 65%, #5B5B5B 100%);
    padding:3px;
    margin:0 0 5px;
    border-radius: 4px;
    border:solid 1px #5B5B5B;
    color:white;
	position:relative;
	z-index: 9000;
}

h1 img{
    float:left;
    background: -webkit-linear-gradient(top, #d1d1d1 0%, #e1e1e1 65%, #d1d1d1 100%);
    border:solid 1px #5B5B5B;
    width:16px;
    height:16px;
    padding: 3px 7px 3px;
    margin: -4px 10px 0 -4px;
    border-radius: 4px;
}

h2{
    font-size: 12px;
    margin:0;
    float:left;
}

h3{
    font-size: 10px;
    margin:3px 0 0 0;
    float:right;
    font-style:italic;
}

p{
    margin:0;
}

article{
    background: -webkit-radial-gradient(top right, ellipse cover, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    border-radius: 0 0 4px 4px;
    padding:5px;
    margin:-9px 0 5px;
    border:solid 1px #5B5B5B;
	position:relative;
	z-index: 8000;
}

article p{
    clear:both;
}