body {
    min-width:0 !important;
    margin:0 !important;
}

h1{
	border-top:0 !important;
	border-left:0 !important;
	border-right:0 !important;
	border-radius: 0 0 4px 4px !important;
}

h1 img{
	border-left:0 !important;
	border-radius: 0 0 4px 4px !important;
}

article{
	border-left:0 !important;
	border-right:0 !important;
}

article:last-child{
	border-bottom: 0;
}