body {
    min-width:0 !important;
    margin:0 !important;
}

h1{
	margin-top:-4px;
}

h1, article{
    border-left:0 !important;
	border-right:0 !important;
}

h1 img{
	border-left:0 !important;
}

article:last-child{
	border-bottom: 0;
}